<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Motion_Designer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TAD88xxMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Motion_Designer.Properties.Settings>
            <setting name="WAVE_TimeScaleIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_TimeMeasView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_TrgEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_WindowColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WAVE_TimeScaleColor" serializeAs="String">
                <value>DarkOliveGreen</value>
            </setting>
            <setting name="WAVE_InposColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="WAVE_PosLineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_PosLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_PosColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="WAVE_VelColor" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="WAVE_CurColor" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="WAVE_VelLineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_VelLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_CurLineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_CurLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_InposOffset" serializeAs="String">
                <value>-6</value>
            </setting>
            <setting name="WAVE_InposLineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_InposLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_PosView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_VelView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_InposView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_CurView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_ItemY_L_View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_TimeMeasColor" serializeAs="String">
                <value>GreenYellow</value>
            </setting>
            <setting name="WAVE_TimeMeasLineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_TimeMeasLineType" serializeAs="String">
                <value>Dot</value>
            </setting>
            <setting name="WAVE_P_Div" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WAVE_V_Div" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WAVE_I_Div" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WAVE_T_DIV" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WAVE_TimeScaleView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_ItemY_R_View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_CmdposOffset" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="WAVE_CmdposView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_CmdposLineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_CmdposLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_CmdposColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="WAVE_TrgColor" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="WAVE_TrgLineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_TrgLineType" serializeAs="String">
                <value>Dash</value>
            </setting>
            <setting name="WAVE_TimeScaleLineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_TimeScaleLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_TrgPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_Prm1Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WAVE_Prm1LineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_Prm2Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WAVE_Prm1LineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_Prm2LineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_Prm2LineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_Prm3Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WAVE_Prm3LineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_Prm3LineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_Prm1View" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WAVE_Prm2View" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WAVE_Prm3View" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WAVE_Prm1_Div" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WAVE_Prm2_Div" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WAVE_Prm3_Div" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CollapseLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewOpenDrive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThisLayout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_ViewSetting_View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PASSWORD_LOCK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CLOSE_MSG_DISABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CultureType" serializeAs="String">
                <value />
            </setting>
            <setting name="MainTimerInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LogPeriod" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_XScale" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WAVE_YScale" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="WAVE_P_Mul" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_V_Mul" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_I_Mul" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_Prm1_Mul" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_Prm2_Mul" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_Prm3_Mul" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_P_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_V_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_I_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_Prm1_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_Prm2_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_Prm3_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_BackupHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PASSWORD_TEMP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PASSWORD_TRI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WAVE_Pos_Idx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_Vel_Idx" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_Cur_Idx" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_Prm1_Idx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_Prm2_Idx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_Prm3_Idx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEV_CON_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PASSWORD_HIKARI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PASSWORD_KASHIYAMA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PASSWORD_AMADA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PASSWORD_TAD8821" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WAVE_AlarmAutoStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PASSWORD_AMADATEST" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value />
            </setting>
            <setting name="Cycle" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Inspection1" serializeAs="String">
                <value>TSM3510N8060,94,500,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100</value>
            </setting>
            <setting name="Inspection2" serializeAs="String">
                <value>TSM2261N9030,75,500,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100</value>
            </setting>
            <setting name="Inspection3" serializeAs="String">
                <value>,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0</value>
            </setting>
            <setting name="Inspection4" serializeAs="String">
                <value>,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0</value>
            </setting>
            <setting name="Inspection5" serializeAs="String">
                <value>,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0</value>
            </setting>
            <setting name="Inspection6" serializeAs="String">
                <value>,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0</value>
            </setting>
            <setting name="Inspection7" serializeAs="String">
                <value>,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0</value>
            </setting>
            <setting name="Inspection8" serializeAs="String">
                <value>,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0</value>
            </setting>
            <setting name="Inspection9" serializeAs="String">
                <value>,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0</value>
            </setting>
            <setting name="Inspection10" serializeAs="String">
                <value>,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0</value>
            </setting>
            <setting name="MotorDir" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberFiles" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value>\osm-server\sqlexspress,HD_2014,sa,tamagawa</value>
            </setting>
            <setting name="Photo1" serializeAs="String">
                <value>TSM3510N8060,1000,4324,1000,3603,4325,3603,5.5,10.0</value>
            </setting>
            <setting name="Photo2" serializeAs="String">
                <value>TSM2261N9030,1000,1688,1000,1583,1688,1583,8.5,12.0</value>
            </setting>
            <setting name="Photo3" serializeAs="String">
                <value>,0,0,0,0,0,0,0.00,0.00</value>
            </setting>
            <setting name="Photo4" serializeAs="String">
                <value>,0,0,0,0,0,0,0.00,0.00</value>
            </setting>
            <setting name="Photo5" serializeAs="String">
                <value>,0,0,0,0,0,0,0.00,0.00</value>
            </setting>
            <setting name="Photo6" serializeAs="String">
                <value>,0,0,0,0,0,0,0.00,0.00</value>
            </setting>
            <setting name="Photo7" serializeAs="String">
                <value>,0,0,0,0,0,0,0.00,0.00</value>
            </setting>
            <setting name="Photo8" serializeAs="String">
                <value>,0,0,0,0,0,0,0.00,0.00</value>
            </setting>
            <setting name="Photo9" serializeAs="String">
                <value>,0,0,0,0,0,0,0.00,0.00</value>
            </setting>
            <setting name="Photo10" serializeAs="String">
                <value>,0,0,0,0,0,0,0.00,0.00</value>
            </setting>
            <setting name="VibrationLowSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VibrationMiddleSpeed" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="VibrationHighSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
        </Motion_Designer.Properties.Settings>
        <TAD88xxMonitor.Properties.Settings>
            <setting name="WAVE_YScale" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="WAVE_TimeScaleIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAVE_TimeMeasView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_TrgEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WAVE_WindowColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WAVE_TimeScaleColor" serializeAs="String">
                <value>DarkOliveGreen</value>
            </setting>
            <setting name="WAVE_InposColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="WAVE_PosLineSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WAVE_PosLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_PosColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="WAVE_VelColor" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="WAVE_CurColor" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="WAVE_VelLineSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WAVE_VelLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_CurLineSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WAVE_CurLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_InposOffset" serializeAs="String">
                <value>-6</value>
            </setting>
            <setting name="WAVE_InposLineSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WAVE_InposLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_PosView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_VelView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_InposView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_CurView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_ItemY_L_View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_TimeMeasColor" serializeAs="String">
                <value>GreenYellow</value>
            </setting>
            <setting name="WAVE_TimeMeasLineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_TimeMeasLineType" serializeAs="String">
                <value>Dot</value>
            </setting>
            <setting name="WAVE_P_Div" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WAVE_V_Div" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WAVE_I_Div" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WAVE_T_DIV" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WAVE_TimeScaleView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_ItemY_R_View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_CmdposOffset" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="WAVE_CmdposView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVE_CmdposLineSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WAVE_CmdposLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_CmdposColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="WAVE_TrgColor" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="WAVE_TrgLineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_TrgLineType" serializeAs="String">
                <value>Dash</value>
            </setting>
            <setting name="WAVE_TimeScaleLineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_TimeScaleLineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_TrgPosition" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="WAVE_XScale" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WAVE_Prm1Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WAVE_Prm1LineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_Prm2Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WAVE_Prm1LineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_Prm2LineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_Prm2LineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_Prm3Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WAVE_Prm3LineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WAVE_Prm3LineType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="WAVE_Prm1View" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WAVE_Prm2View" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WAVE_Prm3View" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WAVE_Prm1_Div" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WAVE_Prm2_Div" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WAVE_Prm3_Div" serializeAs="String">
                <value>10</value>
            </setting>
        </TAD88xxMonitor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
